{% load static %}
<!DOCTYPE html>
<html lang="kor">
    <head>
        <meta charset="utf-8">
        <title>Psyworld</title>
        <link rel="stylesheet" type="text/css" href="{% static 'app name/css/style.css' %}" />
    </head>
    <body>
        <header>
            <section id="title">Psyworld</section>
            {% if user.is_authenticated %} 
            <p>환영합니다, {{ user.username }}님. 행복한 하루 보내세요!</p> 
            <a href="{% url 'logout' %}">로그아웃</a><br><br>
            {% else %} 
            <p>환영합니다. 로그인하신 후에 일기를 작성해주세요!</p> 
            {% endif %}

            <section id="menu">
                <section id="make">
                    <a href="{% url 'new' %}">Write</a>
                </section>
                <section id="make">
                    <a href="{% url 'login' %}">Log In</a>
                </section>
                <section id="make">
                    <a href="{% url 'register' %}">Sign In</a>
                </section>
            </section>
        </header>
        <main>
            <div id="container">
                <section class=content>
                    {% for post in posts_list %}
                        <a href="{% url 'detail' pk=post.pk %}">{{ post.title }}</a><br>
                        <hr style="color:'#BDBDBD';">
                    {% endfor %}
                </section>
            </div>
        </main> 
        <footer>
            <div id="sound">
                <iframe src="{% static 'app name/audio/silence.mp3' %}" allow="autoplay" id="audio" style="display:none"></iframe>    
                <audio id="player" autoplay loop controls>
                    <source src="{% static 'app name/audio/music.mp3' %}" type="audio/mp3">
                        브라우저가 오디오를 지원하지 않습니다.
                </audio>
            </div>
        </footer>
    </body>

</html>